*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	font-family: open sans,sans-serif;
}
.box{
	border: 1px solid black;
	width: 100px;
}
.top-nav{
	background: #fff;
	border: 1px solid black;
	height: 50px;
	margin:0px 0px 0px 70px;
}
.side-nav{
	background: rgb(101,109,202);
	border: 1px solid black;
	width: 70px;
	height: 618px;
	top:0;
	position: absolute;
}
.open-menu{
	margin: 9px 13px 4px;
	padding: 5px;
	border:1px solid black;
	border-radius: 5px;
	background: rgb(101,109,202);
}
.open-menu img{
	color: #fff;
	vertical-align: sub;
}
.task-head{
	color: rgb(101,109,202);
	margin-top:9px;
	margin-left:5px;
	font-size: 24px;
}
.side-nav-icon{
	margin: 17px;
	vertical-align: sub;
}
.side-nav-icon-expand{
	margin: 0px 15px;
	font-size: 14px;
	color: #fff;
}
.sidenav {
  height: 570px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 52px;
  left: 0;
  background: rgb(101,109,202);
  overflow-x: hidden;
  transition: 0.4s;
  color:#fff;
}
.mystyle{
  width: 170px;
}
.iframe{
	margin-left: 72px;
}
.iframe-data{
	width: 1285px;
	height: 560px;
}
table{
	margin:5px auto;
}
tr:nth-child(even){
	background: rgb(239,239,239);
	height: 25px;
}
tr{
	font-size:14px;
	height: 25px;
}


@media screen and (max-width: 1024px){
	.side-nav{
		height: 660px;
	}
	.sidenav{
		height: 663px;
	}
	.iframe-data{
		border: 1px solid black;
		width: 949px;
		height: 658px;
	}
	.top-nav{
		margin:0px 0px 0px 70px;
	}
	.side-nav{
		height:710px;
	}
}

@media screen and (max-width: 768px){
	.side-nav{
		width: 60px;
		height: 483px;
	}
	.iframe{
		margin-left: 62px;
	}
	.iframe-data{
		border: 1px solid black;
		width: 704px;
		height: 480px;
	}
	.top-nav{
		margin:0px 0px 0px 60px;
	}
	.side-nav{
		height:535px;
	}
	.side-nav-icon-expand{
		font-size: 14px;
	}
}

@media screen and (max-width : 425px){
	.iframe-data{
		border: 1px solid black;
		width: 360px;
	}
	.top-nav{
		margin:0px 0px 0px 60px;
	}
	.side-nav{
		height:535px;
	}
	.side-nav-icon-expand{
		font-size: 14px;
	}
}

@media screen and (max-width: 375px){
	.side-nav{
		height:535px;
	}
	.iframe-data{
		border: 1px solid black;
		width: 310px;
		
	}
	.top-nav{
		margin:0px 0px 0px 60px;
	}
	.side-nav-icon-expand{
		font-size: 14px;
	}
}
@media screen and (max-width: 330px){
	.side-nav{
		width: 60px;
		height: 535px;
	}
	.iframe{
		margin-left: 62px;
	}
	.iframe-data{
		border: 1px solid black;
		width: 252px;
		height: 480px;
	}
	tr{
		font-size:10px;
	}
	.top-nav{
		width: 254px;
		margin:0px 0px 0px 60px;
	}
	.side-nav-icon-expand{
		font-size: 14px;
	}
}
